button {
  border: none;
  display: inline-block;
  min-width: var(--button-square-width);
  min-height: var(--button-square-height);
  background-color: transparent;
  @extend %animate_scale;

  span {
    display: none;
  }
}

button.text {
  color: var(--yellow);
  text-transform: uppercase;
  font-size: var(--button-dimension);
  padding: calc(var(--button-dimension) / 2);
  font-weight: 800;
  letter-spacing: 0.05em;
}

button.circular {
  @extend %circular;
  background-color: var(--white);
}

button.arrow {
  color: var(--pink);

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }

  &[data-direction="n"]::after {
    @include triangle('up');
  }
  &[data-direction="e"]::after {
    @include triangle('right');
  }
  &[data-direction="s"]::after {
    @include triangle('down');
  }
  &[data-direction="w"]::after {
    @include triangle('left');
  }
}

button.add,
button.subtract {
  position: relative;

  &::after {
    content: '';
    background-color: var(--pink);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 25%;
    transform: translate(-50%, -50%);
  }
}

button.add {
  &::before {
    content: '';
    background-color: var(--pink);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width:25%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}
