#module_boop {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .chonk {
    font-size: 0;
    display: block;
    position: absolute;
    background-image: url(/img/sad_hog.svg);
    background-repeat: no-repeat;
    //position and size
    top: 0;
    width: 312px;
    height: 214px;
    left: calc(50% - (312px/2));
  }

  button {
    //Snoot
    display: block;
    -webkit-appearance: none;
    font-size: 0;
    transform: scale(1.1);
    transition: transform var(--animation-duration);
    background-image: url(/img/snoot.svg);
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    //position and size
    width: 78px;
    height: 71px;
    top: 121px;
    left: calc(50% - (78px/2));

    &:active {
      transform: scale(1);
      top: 126px;

      &+ .chonk {
        width: 302px;
        left: calc(50% - (302px/2));
        background-image: url(/img/happy_hog.svg);
      }
    }
  }


}
