#module_multi-range {
  height: 100vh;
}

#module_multi-range .row {
  height: 100vh;
  width: 100vw;
}

#module_multi-range .column {
  flex-grow: 1;
  flex-basis: 33.33%;
  align-content: center;
  justify-content: center;
  height: 100%;
}
