#module_range {
  height: 100vh;

  .row {
    height: 100vh;
  }

  .column {
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    height: 100%;
  }

  button {
    flex-basis: 20%;
    width: 25vw;
    height: 25vw;
    margin: auto;
    font-size: 5vw;
  }
}

.range_drag_container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 48%;
  position: relative;
  /* background-color: white; */
  width: 100%;
  margin: auto;

  input {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 25vw;
    border: none;
    // transform-origin: 50% 50%;
    // transform: translate(-50%, -50%) rotate(90deg);
    background-color: transparent;
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url(/img/thumb.svg);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 6rem 3rem;
    // transform-origin: 50% 50%;
    // transform: rotate(-90deg);
    position: relative;
    top: -20px;
    width: 6rem;
    height: 3rem;
  }

  input::-webkit-slider-runnable-track {
    background-color: var(--blue);
    height: .5rem;
  }
}
