$screen_width: 75vw;

#module_target {
  padding: 0;
}

.target_container {
  --container-padding-modifier: 1.5;
  --container-padding-vertical: calc(var(--button-square-height) * var(--container-padding-modifier));
  --container-padding-horizontal: calc(var(--button-square-width) * var(--container-padding-modifier));

  position: relative;
  width: 100vw;
  height: 100vw;
  padding-top: var(--container-padding-vertical);
  padding-right: var(--container-padding-horizontal);
  padding-bottom: var(--container-padding-vertical);
  padding-left: var(--container-padding-horizontal);

  button {
    position: absolute;
  }

  [name="x"] {
    top: 50%;
    margin-top: calc( var(--half-button-square-height) * -1 );
  }
  [name="y"] {
    left: 50%;
    margin-left: calc( var(--half-button-square-height) * -1 );
  }

  [name="y"][value="-1"] {
    top: calc( calc( var(--container-padding-vertical) - var(--button-square-height) ) / 2 );
  }
  [name="y"][value="1"] {
    bottom: calc( calc( var(--container-padding-vertical) - var(--button-square-height) ) / 2 );
  }
  [name="x"][value="-1"] {
    left: calc( calc( var(--container-padding-horizontal) - var(--button-square-width) ) / 2 );
  }
  [name="x"][value="1"] {
    right: calc( calc( var(--container-padding-horizontal) - var(--button-square-width) ) / 2 );
  }

}


.target_screen {
  @extend %circular;
  background-color: var(--blue);
  position: absolute;
  top: var(--container-padding-vertical);
  right: var(--container-padding-horizontal);
  bottom: var(--container-padding-vertical);
  left: var(--container-padding-horizontal);
}

.target_reticle {
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
  }

  &::before {
    width: 100%;
    height: 25%;
  }

  &::after {
    width: 25%;
    height: 100%;
  }
}

.target {
  @extend %ring;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-color: var(--yellow);
  border-style: solid;
  border-radius: 100%;
}
