$screen_width: 75vw;

#module_target {
  padding: 0;
}

.target_container {
  --container-padding-modifier: 1.5;
  --container-padding-vertical: calc(var(--button-square-height) * var(--container-padding-modifier));
  --container-padding-horizontal: calc(var(--button-square-width) * var(--container-padding-modifier));

  position: relative;
  width: 100vw;
  height: 100vw;
  padding-top: var(--container-padding-vertical);
  padding-right: var(--container-padding-horizontal);
  padding-bottom: var(--container-padding-vertical);
  padding-left: var(--container-padding-horizontal);

  button {
    position: absolute;
  }

  [name="x"] {
    top: 50%;
    margin-top: calc( var(--half-button-square-height) * -1 );
  }
  [name="y"] {
    left: 50%;
    margin-left: calc( var(--half-button-square-height) * -1 );
  }

  [name="y"][value="-1"] {
    top: calc( calc( var(--container-padding-vertical) - var(--button-square-height) ) / 2 );
  }
  [name="y"][value="1"] {
    bottom: calc( calc( var(--container-padding-vertical) - var(--button-square-height) ) / 2 );
  }
  [name="x"][value="-1"] {
    left: calc( calc( var(--container-padding-horizontal) - var(--button-square-width) ) / 2 );
  }
  [name="x"][value="1"] {
    right: calc( calc( var(--container-padding-horizontal) - var(--button-square-width) ) / 2 );
  }

}


.target_screen {
  @extend %circular;
  background-color: var(--blue);
  position: absolute;
  top: var(--container-padding-vertical);
  right: var(--container-padding-horizontal);
  bottom: var(--container-padding-vertical);
  left: var(--container-padding-horizontal);
  overflow: hidden;
}

.target_reticle,
.target {
  display: block;
  width: var(--button-dimension);
  height: var(--button-dimension);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc( var(--button-dimension) / -2 );
  margin-left: calc( var(--button-dimension) / -2 );
  transition-property: all;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.target_reticle {
  color: var(--white);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
  }

  &::before {
    width: 100%;
    height: 25%;
  }

  &::after {
    width: 25%;
    height: 100%;
  }
}

.target {
  &::after {
    content: '';
    box-sizing: border-box;
    width: var(--button-dimension);
    height: var(--button-dimension);
    border-color: var(--yellow);
    border-style: solid;
    border-width: calc(var(--button-dimension) / 4);
    @extend %ring;
    transform: scale(1);
    opacity: 1;
  }
}
