html {
  --root-spacing: 1rem;
  --font-family: 'Exo2';
  --animation-duration: 0.05s;

  /* Colours */
  --white: #fff2f4;
  --black: #0f0e0e;
  --light-pink: #f17d94;
  --pink: #e41345;
  --dark-pink: #870024;
  --blue: #24b3e6;
  --yellow: #FFE442;
}
